<app-top-bar></app-top-bar>
<div class="principal">
    <div class="titulo">
        <div class="voltar">
            <a routerLink=""><button type="button" class="btn btn-dark btn-lg">Voltar</button></a>
        </div>

        <div class="text">
            <h1>
                Gráfico Cryptos
            </h1>
        </div>
    </div>
    <div class="tabela">
        <table class="table table-hover">
          <thead class="table-dark">
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nome</th>
                <th scope="col">Protocolo</th>
                <th scope="col">Taxa de Saque</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dados">
              <td>{{item.Asset}}</td>
              <td>{{item.AssetLong}}</td>
              <td>{{item.SystemProtocol}}</td>
              <td>{{item.WithdrawTxFee}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>