.principal{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tabela{
    width: 80%;
}
table{
    width: 100%;
}
.titulo{
    padding: 5px;
    margin-bottom: 2%;
}
