<app-top-bar></app-top-bar>
<div class="principal">
    <div class="titulo">
        <h1>
            Charts Graph
        </h1>
    </div>
    <div class="tabela">
        <table class="table table-stripped">
          <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Saldo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>dado1</td>
              <td>dado2</td>
              <td>dado3</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>